  .loginContainer {
    padding: 60px;
    margin:  auto;
    width: 100%;
    /*max-width: 520px;*/
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
    box-shadow: 0 50px 70px -20px rgba(0,0,0, 0.8)
  }
  
  .login .loginContainer label {
    color: #000000;
    margin: 7px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .login .loginContainer input {
    width: 97%;
    outline: none;
    font-size: 19px;
    padding: 10px;
    color: #000000;
    letter-spacing: 1px;
  }

  .login .loginContainer .ot select {
    width: 41%;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #000000;
    letter-spacing: 1px;
  }

  .login .loginContainer .ot img {
    width: 8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
  }

  .login .loginContainer .ot{
    width: 100%;
  }
  
  .login .loginContainer button{
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    margin-top: 5%;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #3d88db;
    cursor: pointer;
  }
    
  .login .loginContainer .errorMsg {
    color: red;
    font-size: 16px;    
  }