  .respuesta {
    width: 70%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .respuesta label {
    color: #212121;
    margin: 8px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
    flex-direction: column;
    align-items: center;
  }

  .respuesta label b{
    text-align: center;
    color:  #5c64bb;
  }

  .respuesta img{
    width: 50%;
  }

  .respuesta p{
    flex-direction: column;
    text-align: center;
  }